<div id="albums-gallery" class="row" ng-controller="viewAlbum">
  <div class="span12">
  	<ul class="thumbnails" >

  		<li class="span3" ng-repeat="d in response.data">
  			<div class="thumbnail">

	  			<a ng-href="{{d.link}}?app_id={{appid}}">
	  				<img ng-src="{{d.cover}}?size=big" alt="{{d.artist.name}}"/>
	  			</a>

	  			<h3 style="width:250px;height:40px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">{{d.artist.name}}</h3>
				<p>{{d.title}}</p>

  			</div>
  		</li>

  	</ul>
  </div>
</div>